*{margin:0;padding:0;position:relative;}
a{}
h1{}
h2{}
h3{}
.clearboth{clear:both}
.uppercase{text-transform:uppercase}
.bold{font-weight:bold}
.pointer{cursor:pointer;}

body{}

.cms_header{}
.header{}

.navigation{}

.cms_left{float:left;}
.aside{}

.cms_right{float:left;}
.article{}
.article .section{}

.footer{}