*{margin:0;padding:0;position:relative;}
a{}
h1{}
h2{}
h3{}
.clearboth{clear:both}
.uppercase{text-transform:uppercase}
.bold{font-weight:bold}
.pointer{cursor:pointer;}

body{background:#E0E0E0;font-family:Verdana;font-size:14px;color:#353535;}
.page{background:#FFF;width:900px;margin:0 auto;}

.cms_header{}
.header{}

.navigation{}

.cms_left{float:left;}
.aside{}

.cms_right{float:left;}
.article{}
.article .section{}

.footer{}